
.work-sample-container-main{
    min-height: 100vh;
    box-sizing: border-box;

    .info-text-container{
        margin-bottom: 50px;
    }

    .work-sample-content-main{

        .work-block-main{
            width: calc(33.3333% - 20px);
            float: left;
            margin: 15px 10px;
            display: inline-block;
            position: relative;
            border-bottom: 2px solid blue;
            padding-bottom: 20px;

            img{
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                border-radius: 5px;
                height: 250px;
                position: relative;
                float: left;


            }
            .info-container{
                position:absolute;
                background: linear-gradient( 45deg , #3939ef, #0303a9);
                border-radius: 5px;
                height: 0px;
                width: 0%;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                -webkit-transform:translate(-50%,-50%);
                display: none;
                box-sizing: border-box;
                transition: all ease-in 0s;

                .tech-stack{
                    box-sizing: border-box;
                    margin: 20% 0 0;
                    text-align: left;

                    span{
                        padding: 4px 10px;
                        border: 1px solid #001370;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        margin: 0 10px 10px 10px;
                        border-radius: 5px;
                        display: inline-block;
                    }

                    
                
                }
                .visit-link{
                    margin-top: 10px;
                    text-align: center;
                    color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 25px;

                    .icon{
                        cursor: pointer;
                        font-size: 25px;;
                    }
                }



            }
            &:hover{
                .info-container{

                    display: inline-block;
                    animation: showcase 1s ease-in-out;
                    height: 250px;
                    width: 100%;
                    top: 0;
                    left: 0;
                    transform: translate(0, 0%);
                }
            }
            .work-info{
                margin: 10px 0 0;
                color: #ccccd1;
            }
        }

        @media only screen and (max-width: 768px){
            text-align: center;

            .work-block-main{
                width: 300px;
                margin-bottom: 35px;
                float: none;            
            }
        }
    }

    @keyframes showcase{
        0%{
            width:1px;
            height:10px;
            overflow:hidden;
            background:#3939ef;
            border-radius: 5px 5px 0 0;
        }
        50%{
            width:100%;
            height:10px;
            overflow:hidden;
            background:#3939ef;
        }
        100%{
            overflow:hidden;
            background-image: -moz-linear-gradient( 45deg , #3939ef, #0303a9);
            background-image: -webkit-linear-gradient( 45deg , #3939ef, #0303a9);
            height: 250px;
            width: 100%;
            top: 0;
            left: 0;
            transform: translate(0, 0%);
        }
    }
}

.light-mode-container{
    .work-sample-content-main{
        .work-block-main{
            .work-info{
                color: #545454;
            }
        }

    }
}