

.categories-container-main{

    .categories-content-main{
        margin: 30px 0  40px;
        text-align: center;

        .categories-background-container{
            background-image: url('../../../../assets/images/cdoe.jpg');
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            width: 100%;
            max-width: 600px;
            display: inline-block;
            box-sizing: border-box;

            .categories-list-container{
                background: linear-gradient(45deg , rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
                padding: 20px 30px;
                border-radius: inherit;
                font-family: 'Pacifico', cursive;

                span{
                    font-size: 14px;
                    float: left;
                    margin: 8px 25px 0 0;
                    line-height: 28px;
                    color: #838383;

                    &:hover{}
                }
                .main{
                    font-weight: bold;
                    color: #3276fb;
                    font-size: 22px;
                }
            }
        }
        .categories-tilt-container{
            border-radius: 10px;
            width: 100%;
            max-width: 600px;
            display: inline-block;
            box-sizing: border-box;

        }
        .glare-wrapper{
            border-radius: 10px!important;

            .glare{
                background: none!important;
            }
        }

        @media only screen and (max-width: 768px){
            .categories-background-container{
    
                .categories-list-container{
                    padding: 15px 20px;
                    
                    span{
                        font-size: 12px;
                        float: left;
                        margin: 8px 15px 0 0;
                        line-height: 20px;
                    }
                    .main {
                        font-size: 20px;
                    }
                }
            }
        }
    }

}