
.navbar-container-main{
    background: #000;
    text-align: center;
    padding: 10px 0px;
    z-index: 50;
    position: absolute!important;


    .logo-container-main{
        width: 200px;
        margin-top: -3px;
        text-align: left;
        padding: 0 20px 0 0;
        font-size: 25px;
        font-weight: bold;
        color: blue;
        display: inline-block;
        float: left;
        margin-right: 50px;

        .special-character{
            font-weight: 500;
            font-size: 35px;
            color: #fff;
            margin-right: -10px;
        }


    }
    .nav-link-container{
        display: inline-block;
        float: left;
        width: calc(100% - 250px);
        box-sizing: border-box;
        padding-top: 16px;
        color: #3939df;

        .link-content{
            display: inline-block;
            float: left;
            box-sizing: border-box;
            cursor: pointer;
            transition: all ease-in 0.3s;
            margin: 0 10px;
            font-size: 14px;

            &:hover{
                color: #a6c4ff;
            }
        }
        .setting-container{
            display: inline-block;
            float: right;

            .icon-container{
                cursor: pointer;
                font-size: 18px;
            }
        }
    }

    @media only screen and (max-width: 1200px){
        position: absolute!important;
    }
}

.light-mode-container{
    .navbar-container-main{
        background: #fff;
        .logo-container-main{
            color: blue;
            .special-character{
                color: #000;
            }
        }
        .nav-link-container{
            color: #3939df;

            .link-content{
                &:hover{
                    color: #898989;
                }
            }
        }
    }
}