
.home-component-main{
    position: relative; 
    min-height: 500vh;

    .sticky-component{
        position: sticky;
        top: 0;
        left: 0;
    }
    .component-back{
        background: linear-gradient( 180deg , #111, #222222, #111);
        // background: linear-gradient( 180deg , #000, #222222, #000000);
        color: #fff;
        text-align: center;
        padding: 80px 0 20px;
    }

    h5{
        color: #999999;
        font-size: 15px;
        text-align: left;
        margin: 10px 0;
        font-weight: 440;
        margin: 10px 0 20px;
        float: left;
        line-height: 20px;
    }
    .main-heading-container{
        .text{
            position: relative;
            color: #3276fb;
            text-align: left;
            font-size: 35px;
            transition: all ease-in-out 0.3s;
            z-index: 2;
            display: inline-block;
            padding: 4px 0;
            font-weight: 555;


            &:after{
                // &:after, &:before{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                z-index: -1;
                bottom: 0;
                left: 0;
                background-color: #3276fb;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                // border-radius: 0 0 5px 5px ;
            }
            // &:before {
            //     border-radius: 5px 5px 0 0;
            //     top: 0;
            //     transform-origin: bottom left;
            // }
            &:hover{
                // color: #000;

                &:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                  }
                // &:before {
                //     transform: scaleX(1);
                //     transform-origin: bottom right;
                //   }

            }
        }
        
    }
    .landing-component-main{
        background: linear-gradient( 180deg , #111, #222222, #111);
        color: #fff;
        min-height: 100vh;
        padding: 0 0 20px;
        text-align: center;

        .left-side-container{
            width: calc(50%);
            margin-top: 20vh;
            box-sizing: border-box;
            padding: 0 20px;
            float: left;
            text-align: center;


            .intro-label-container{
                font-size: 18px;
                color: #c7c7c7;

            }
            h1{
                color: blue;
                margin: 25px 0;
                font-size: 5em;

                span{
                    display: inline-block;
                    transition: all ease-in 0.3s;
                    &:hover{
                        color: #92b1ed;
                    }
                    &:active{
                        animation: shrinkjump 1s ease-in-out;
                        transform-origin: bottom center;
                    }
                }
            }
            h3{    
                font-size: 40px;
                margin: 10px 0;
            }
        }

        .right-side-container{
            text-align: center;

            .developer-image-container{
                background-image: url('../../assets/images/vineet5.png');
                background-size: cover;
                background-position: center;
                width: 290px;
                height: 420px;
                float: none;
                display: inline-block;
                border-left: 1px solid blue;
                border-right: 5px solid #5e7db9;
                border-bottom: 5px solid #5e7db9;
                border-radius: 15px;
                transition: all ease-in 0.3s;

                &:hover{
                    background-image: url('../../assets/images/vineet-back.jpg');
                    border-left: 1px solid rgba(0,0,0,0);
                    border-right: 5px solid rgba(0,0,0,0);
                    border-bottom: 5px solid rgba(0,0,0,0);

                }
            }
        }

    }

    @media only screen and (max-width: 1096px){
    }
}

@keyframes shrinkjump {
	10%{
		transform: scale(2, .2) translate(0, 0);
	}
    35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45% {
		transform: scale(1) translate(0, -150px);
	}
    50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}
